streamlit
streamlit-authenticator
bcrypt
pyyaml
pandas
plotly
openpyxl
streamlit-lottie
langchain==0.3.7
langchain-community==0.3.7
langchain-core==0.3.15
langchain-google-genai==2.0.1
google-generativeai
pypdf
faiss-cpu
gspread
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
olefile
